<table>
  <tr>
    <td>
      <h3><span class="label"><%= @profile.username %></span></h3>
    </td>
  </tr>
  <tr>
    <td>
      <% if @profile.try(:photo) %>
        <%= image_tag (@profile.photo.url(:medium)), class: "user-photo" %>
      <% end %>
    </td>
  </tr>
</table>



  <div class="row">
    <div class="col-sm-6" id="about-me">
      <h3><span class="label">關於我</span></h3>
      <h5><span class="label">出沒地：
        <% if @profile.try(:location_id) %>
          <%= @profile.location.city %>
        <% end %>
      </span></h5>
      <p>
        <% if @profile.try(:description) %>
          <%= @profile.description %>
        <% end %>
      </p>
    </div>
    <div class="col-sm-6" id="user-rating">
      <h3><span class="label">別人怎麼說</span></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" id="skills-want">
      <h3>我想學</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" id="skills-have">
      <h3>我擅長</h3>
    </div>
  </div>
