<div class="container">
  <div class="row">
    <div class="col-sm-2 side-bar">
      <h3>聯絡過的對象</h3>
      <% if @profiles %>
        <% @profiles.each do |p| %>
          <div>
            <%= link_to profile_comments_path(current_user.profile, :id => p), remote: true do %>
              <%= image_tag (p.photo_url) %>
              <p><%= p.username %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-8">
      <div id="private_comments">
        <%= render 'comments', :locals => { :comments_group_by_profile => @comments_group_by_profile, :profile => @profile } %>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>



