<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>更新技能</h2>

      <%= render 'form' %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("#skill_category_ids").select2();
  })
</script>