<div class="row">
  <div class="col-sm-12">
    <div class="header">
      <h1>來交換吧</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere amet veniam nostrum maxime omnis totam animi quas esse iste dolorum!</p>
    </div>
  </div>
</div>

<div id="masonry-container" class="transitions-enabled infinite-scroll centered clearfix">
  <% @skills.each do |s| %>
  <div class="box">
    <div class="skill-block panel panel-info">
      <h6><%= link_to s.user.profile.username, profile_path(s.user.profile)%> </h6>
      <div>
        <%= link_to skill_path(s) do %>
          <% if s.pictures.exists?%>
          <div class="skill-img">
          <%= image_tag (s.pictures.last.image.url) %>
          </div>
          <% else %>
          無上傳圖片
          <% end %>
          <h5><%= s.name %></h5>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>