// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
  background-color: #EAE5E5;
}

.panel.contact {
  background-color: white;
}
.message {
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #E2ECFF;
  font-size: 15px;
 }


 h4 {
  display: inline;
 }