/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

a:hover {
  text-decoration:none;
}

/*
 * Table setting
 */

table {
  margin: 20px auto;
  text-align: center;
}

/*
 * User photo
 */

img.user-photo {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

.label {
  background-color: rgb(40, 214, 215);
  color: #E7E7E7;
}

#about-me {
  h3, h5 {
    text-align: center;
  }
  p {
    width: 100%;
    text-align: center;
    overflow: auto;
  }
}

#user-rating {
  h3, h5 {
    text-align: center;
  }
}

