$skills-wanted: #f47658;
$skills-have: #34BEA7;
$publiccomment: #EFCC58;
$background-grey: #EAE5E5;
$font-grey: #4D4D4D;

a {
  text-decoration:none;
  &:hover {
  text-decoration:none;
  }
}

.container-fluid {
  background-color: $background-grey;
}

#username {
  margin-bottom: 30px;
  color: $font-grey;
  font-size: 2em;
  h1 {
    display: inline-block;
  }
}

#favorite {
  text-align: right;
}


/*** user-photo ***/

.user-photo {
  width: 270px;
  margin: 40px auto;
}

.user-photo img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
}

.box.masonry-brick {
  width:320px;
  a {
    color: #444444;
  }
}

/*** description ***/
#about-description {
  margin: 10px;
  p {
    width: 100%;
    overflow: auto;
  }
}

/*** user-info ***/

.col-xs-4 {
  margin: 10px 0;
  a {
    color: white;
  }
  #skills-want, #skills-have, #publiccomment {
    width: 150px;
    height: 150px;
    padding-top: 45px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 992px) {
  .col-xs-4 {
    #skills-want, #skills-have, #publiccomment {
      width: 120px;
      height: 120px;
      padding-top: 30px;
    }
  }
}
@media (max-width: 768px) {
  .col-xs-4 {
    #skills-want, #skills-have, #publiccomment {
      width: 150px;
      height: 150px;
      padding-top: 38px;
    }
  }
}
@media (max-width: 500px) {
  .col-xs-4 {
    #skills-want, #skills-have, #publiccomment {
      width: 120px;
      height: 120px;
      padding-top: 30px;
    }
  }
}
@media (max-width: 400px) {
  .col-xs-4 {
    #skills-want, #skills-have, #publiccomment {
      width: 98px;
      height: 98px;
      padding-top: 20px;
    }
  }
}

#skills-want {
  text-align:center;
  background-color: $skills-wanted;
  color: white;
}

#skills-have {
  background-color: $skills-have;
  h3 {
    text-align:center;
    color: white;
  }

}
#publiccomment {
  background-color: $publiccomment;
  h3 {
    text-align:center;
    color: white;
  }
}

#wanted {
  text-align:center;
  h3 {
    color: white;
  }
  #wanted-top, #want-bottom {
    height: 30px;
  }
}
#have {
  text-align:center;
  h3 {
    color: white;
  }
  #have-top, #have-bottom {
    height: 30px;
  }
}
#comments {
  h3 {
    color: white;
    text-align: center;
  }
  #comments-top, #comments-bottom {
    height: 30px;
  }
}
.category-box {
  img {
    width: 140px;
    height: 140px;
    display: inline-block;
    border-radius: 100%;
  }
  margin: 15px;
  display: inline-block;
  text-align: center;
}

@media (max-width: 406px) {
  .category-box {
    margin: 10px;
    img {
      width: 120px;
      height: 120px;
      display: inline-block;
      border-radius: 100%;
    }
  }
}

@media (max-width: 345px) {
  .category-box {
    margin: 10px;
    img {
      width: 100px;
      height: 100px;
      display: inline-block;
      border-radius: 100%;
    }
  }
}

/*** skills-have ***/

/*** publiccomments ***/


#publiccomments {
  div {
    overflow: auto;
  }
}


/*** hover ***/
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

