.select2-container{
    min-width: 100px !important;
}

.skill-img {
  img {
  width: 100%;
  }
}

form {
  text-align: left;
}
$background-grey: #EAE5E5;
/*** banner ***/

.banner {
  text-align: center;
  background-color: $background-grey;
  h3 {
    display: inline-block;
    color: #D0544E;
  }
  p {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 1.2em;
  }
  img {
    display: inline-block;
    width: 50px;
  }
}

@media (max-width: 900px) {
  .banner {
  p {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 1.2em;
  }
  }
}

/*** all-skills ***/

.all-skills {
  background-color: $background-grey;
  h5 {
    display: inline-block;
  }
}

/*** masonry ***/

.box.masonry-brick {
  background-color: white;
}

.skill-box-author {
  img {
    border-radius: 30px;
  }
  a {
    color: #7B7B7B;
  }
  h6 {
    display: inline-block;
  }
  p {
    display: inline-block;
    text-align: right;
  }
  i {
    font-size: 1.3em;
    color: #7B7B7B;
    margin-right: 0;
    text-align: right;
  }
}

/*** skill-info ***/

.skill-info {
}