a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

/* Carousel base class */
.carousel {
  h1, p {
    color: #111;
  }
  height: 100vh;
  padding: 0;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100vh;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100vh;

}
.carousel-inner .container {
  .skillpark-logo {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
}

#want-to-learn, #welcome-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.how, .now {
  margin: 10px;
  padding: 10px;
  color: white;
  font-size: 25px;
  border-radius: 5px;
}
.how {
  background-color: #959090;
}
.now {
  background-color: #EC7665;
}

#want-to-learn {
  height: 75vh;
  background-color: white;
  img {
    width: 100px;
    margin: 2px;
  }
  h1 {
    color: #E15B47;
  }
  .go-to-button {
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    width: 200px;
    border: 2px solid black;
    padding: 15px;
  }
}

#welcome-banner {
  height: 25vh;
  background-image: asset-url('stare.png');
  background-size: cover;
  h1 {
    font-size: 300%;
    color: white;
  }
}

#welcome-find, #show, #interact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: white;
  height: 60vh;
  background-image: asset-url('welcome_white.png');
  color: #E15B47;
  img {
    width: 100%;
    display: inline-block;
  }
  h1 {
    margin-top: 100px;
  }
}

#sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50vh;
  background-color: white;
  h1 {
    margin-bottom: 50px;
  }
  .fb-page {
    width: 220px; height: 220;
  }
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50vh;
  background-image: asset-url('stare.png');
  background-size: cover;
  color: white;
  h1 {
    margin: 20px;
  }
  p {
    width: 70%;
    font-size: 1.2em;
    margin: 20px auto;
  }
  hr {
    width: 60%;
    size: 10px;
    color: white;
  }
}


@media (max-width: 1000px) {
  .carousel {
    height: 500px;
    padding: 0;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    z-index: 10;
  }

  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: 500px;
    background-color: #777;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
  }
  .carousel-inner .container {
    .skillpark-logo {
      width: 100px;
      height: 100px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 768px) {
  #welcome-find, #show, #interact {
    display: block;
    align-items: center;
    text-align: left;
    height: 60vh;
    color: #E15B47;
    img {
      width: 300px;
      display: block;
      margin: 50px auto;
    }
    h1 {
      text-align: center;
      margin-top: 40px;
    }
  }

  #sign-up {
    .fb-page {
      width: 200px; height: 200;
    }
  }

  #about {
    display: block;
    margin: 80px auto;
    align-items: center;
    text-align: center;
    background-size: cover;
    color: white;
    h1 {
      margin: 20px;
    }
    p {
      width: 70%;
      font-size: 1.2em;
      margin: 20px auto;
    }
    hr {
      width: 60%;
      size: 10px;
      color: white;
    }
  }
}

@media (max-width: 520px) {
  h1 {
    font-size: 25px;
  }
  .carousel {
    height: 350px;
    padding: 0;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    z-index: 10;
  }

  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: 350px;
    background-color: #777;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 350px;
  }
  .carousel-inner .container {
    .skillpark-logo {
      width: 100px;
      height: 100px;
      margin: 0 auto;
    }
  }
  .how, .now {
    margin: 10px;
    padding: 10px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
  }
  #want-to-learn, #welcome-banner {
    display: block;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    img {
      width: 70px;
      margin: 2px;
    }
  }
  .go-to-button {
    display: block;
    margin: 15px auto;
    border-radius: 5px;
    width: 150px;
    border: 2px solid black;
    padding: 10px;
  }
  #about {
    margin-top: 50px;
    p {
      width: 90%;
      font-size: 12px;
      margin: 20px auto;
    }
  }
  #want-to-learn {
    height: 400px;
  }
  #sign-up {
    height: 400px;
    margin: 10px auto;
    .col-sm-6 {
      margin: 20px auto;
    }
  }
  #welcome-find, #show, #interact {
    height: 400px;
    img {
    margin: 0 auto;
      width: 200px;
      display: block;
    }
  }
}
@media (max-width: 350px) {
  #want-to-learn {
    height: 350px;
    img {
      width: 50px;
      margin: 2px;
    }
  }
  #welcome-find, #show, #interact {
    height: 250px;
    img {
      margin: 0 auto;
      width: 150px;
      display: block;
    }
  }
  p {
    width: 90%;
    font-size: 10px;
  }
}